html { 
  background: url('https://spiritualityhealth.com/assets/images/Articles/_articleSummaryImage/path_170715_150909.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  text-align: center;
  background: rgba(240, 127, 225, 0);
}

.center-block {
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 250, 250, 0.048); */
  background-color: #C0C0C0;
  background:#ffffff80;
  min-width: 430px;
  max-width: 860px;
  padding-top: 2ch;
  padding-left: 5%;
  padding-bottom: 2ch;
  padding-right: 5%;
}

.body-history {
  resize: both;
  overflow: visible;
  position: absolute;
  scroll-behavior: auto;
}

#hdrs {
  background-color: #c92c5bb2;
  padding-top: 1ch;
  padding-bottom: 1ch;
  color: bisque;
  text-shadow: 2px 2px 5px rgb(12, 36, 31);
}

