html { 
  background: url('https://spiritualityhealth.com/assets/images/Articles/_articleSummaryImage/path_170715_150909.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  text-align: center;
  background: rgba(240, 127, 225, 0);
}

.center-block {
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 250, 250, 0.048); */
  background-color: #C0C0C0;
  background:#ffffff8a;
  position: absolute;
  left: 10%;
  right: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2ch;
  margin-bottom: 2ch;
  padding-bottom: 4ch;
  padding-top: 2ch; 

}

.body-history {
  resize: both;
  overflow: visible;
  position: absolute;
  scroll-behavior: auto;
}

#hdrs {
  background-color: #c92c5bea;
  padding-top: 1ch;
  padding-bottom: 1ch;
  color: bisque;
  text-shadow: 2px 2px 5px rgb(12, 36, 31);
}
#hdr2 {
  background-color: rgba(228, 193, 154, 0.5);
  padding-top: 1ch;
  padding-bottom: 1ch;
  text-shadow: 4px 4px 7px rgb(238, 247, 245);
  min-width: 430px;
  max-width:auto;
  
}
#pdfButton{
  padding-top: 1ch;
}

