html { 
  background: url('../assets/Space.jpg') no-repeat center center fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;

  color: #fff8de;
  background-color: rgba(0,0,0,0.5);
  min-width: 210px;
  max-width: 430px;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 2%;
    
  /* Center the form */
  position: absolute;
  left: 10%;
  right: 10%;
  margin-top: 2ch;
  margin-left: auto;
  margin-bottom: 2ch;
  margin-right: auto;
}

body{
  text-align: center;
}

div {
  resize: both;
  overflow: auto;
}

h1 {
  margin-bottom: 1ch;
  text-align: center;
}

.div-acc {
  margin-bottom: 2ch;
}

.acc-input-title {
  margin-bottom: 0ch;
}

#div-button {
  margin-bottom: 2ch;
  margin: auto;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.70);
  font-size: 14px;
}

#submit {
  background-color: rgba(0, 0, 0, 0.70);
  color: #fff8de;
  min-width: 210px;
  max-width: 430px;
  padding-top: 2ch;
  padding-left: 5%;
  padding-bottom: 2ch;
  padding-right: 5%;
    
  /* Center the form */
  position: center;
  left: 10%;
  right: 10%;
  margin-top: 2ch;
  margin-left: auto;
  margin-bottom: 2ch;
  margin-right: auto;
}

#submit:hover, #submit:focus {
	background: #434a53;
	text-decoration: none;
}

a {
  color: #b2b2b2;
  text-decoration: underline;
}

.errorMsg {
  color: red;
  margin-top: 2ch;
}
