html { 
  background: url('https://farm5.static.flickr.com/4784/40823527141_3898ff55fa_b.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  text-align: center;
  background: rgba(240, 127, 225, 0);
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.body-history {
  resize: both;
  overflow: visible;
  position: absolute;
  scroll-behavior: auto;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid black;
  box-shadow: 10px 10px 5px rgb(11, 45, 51);
  border-collapse: separate;
  
}

table th:nth-child(even){
  /* background-color: rgba(255, 228, 196, 0.37);
 */
background-color: rgba(255, 255, 255, 0);
}

table td:last-child{
  background-color: #248175; 
  color: snow;
}
.table-hover tbody tr:hover td {
  background-color: #ff9f80;
}



#hdrs {
  background-color: #228073b2;
  padding-top: 1ch;
  padding-bottom: 1ch;
  color: bisque;
  text-shadow: 2px 2px 5px rgb(12, 36, 31);
}
#hdr2 {
  /* background-color: #faabab36; */
  padding-top: 1ch;
  padding-bottom: 1ch;
  color: bisque;
  text-shadow: 2px 2px 5px rgb(12, 36, 31);
}
