body{
  text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.body-login {
  resize: both;
  overflow: visible;
  position: absolute;
  scroll-behavior: auto;
}