html { 
  background: url('https://farm5.static.flickr.com/4784/40823527141_3898ff55fa_b.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  text-align: center;
  background: rgba(240, 127, 225, 0);
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.body-history {
  resize: both;
  overflow: visible;
  position: absolute;
  scroll-behavior: auto;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid black;
  box-shadow: 10px 10px 5px rgb(11, 45, 51);
  border-collapse: separate;
}

table th:nth-child(even){
  background-color: rgba(255, 228, 196, 0.37);
}

table td:last-child{
  background-color: #228073; 
}

tbody tr:hover {
  background-color: #f1e9e9;
}



#hdrs {
  background-color: #228073;
  padding-top: 1ch;
  padding-bottom: 1ch;
  color: bisque;
  text-shadow: 2px 2px 5px rgb(12, 36, 31);
}
.table-responsive{
  /* max-width: 1200px;
  margin-top:-220px;
  margin-left:200px;
  max-width: auto; */
 color: black;
}