html { 
  background: url('../WaterfallForest.jpg') no-repeat center center fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#login-form {
  color: #fff8de;
  background-color: rgba(0,0,0,0.5);
  min-width: 210px;
  max-width: 430px;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-bottom: 1ch;
  text-align: center;
}

.div-login {
  margin-bottom: 2ch;
}

.login-input-title {
  margin-bottom: 0ch;
}

#div-button {
  margin-bottom: 2ch;
}

#submit {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff8de;
  display: inline-block;
  cursor: pointer;
  border: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 35%;
  -webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

#submit:hover, #submit:focus {
	background: #434a53;
	text-decoration: none;
}

a {
  color: #b2b2b2;
  text-decoration: underline;
}