html { 
  background: url('../assets/results2.png') no-repeat center center fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#page2-div {
  background-color: #C0C0C0;
  background:rgba(0,0,0,0.1);
  min-width: 300px;
  max-width: 530px;
  padding: 5%;
    
  /* Center the form */
  position: absolute;
  left: 10%;
  right: 10%;
  margin-left: auto;
  margin-right: auto;
}
#hdr {
  background-color: #978aaf;
  padding-top: 1ch;
  padding-bottom: 1ch;
  color: lightyellow;
  border-color: rgba(0,0,0,0.1);
}

.div-main {
  text-align: center;
  clear: both;
  float:left;
  margin-right:15px;
}
body {
  text-align: center;
}
input {
  background-color: #85b9e9;
}

.input-options {
  padding: 1ch;

  /* https://simplestepscode.com/css-glass-button-tutorial/ */
  background-color: rgba(153, 113, 146, 0.678);
  background-image: linear-gradient(rgba(193, 241, 241, 0.664), rgba(207, 148, 207, 0.705));
  border-radius: 12px;
  font-family: Georgia;
}  
  
