/* References:
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations */
html { 
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}
body{
  text-align: center;
  min-width: 200px;
}
.body-splash {
  resize: both;
  overflow: visible;
  position: absolute;
  scroll-behavior: auto;
}
.middle {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  text-align: center;
}
.whole {
  background-color: black;
}



.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ContentContainer {
  position: relative;
  display: block;
  background-color: white;
  z-index: 1;
}

.Content {
  max-width: 750px;
  margin: 0 auto;
  padding: 75px 0;
}

p {
  margin: 75px 0;
}

#title-ani{
  animation-duration: 5s;
  animation-name: slidein;

}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 300%; 
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}
.ParallaxContainer {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2);
  background: url(assests/Snowy.jpg);
  background-color: rgb(250,228, 216);
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');


/* ==========================================================================
   Parallax Scroll
   ========================================================================== */



   section {
    min-width: 200px;
    opacity: 0;
  }
  .loaded section,
  .no-js section {
    opacity: 1;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
  }

  #preload {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .hsContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;


  }

  .hsContent {
    max-width: 1000px;
    position: absolute;


    left: 10%;
    right: 10%;
   
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 30%;
    padding-bottom: 2%;
border: 100px;
  }
  .hsContent h2  {
    color: #fff8de;
    background-color: rgba(0,0,0,0.5);
    font-size: 12vw;
    line-height: 15vw;
    margin-bottom: 1px;
    margin-top: 12px;
    text-align: center;

    


  }
  .hsContent h3  {
 
    color: #fff8de;
    background-color: rgba(0,0,0,0.5);
    font-size: 7vw;
    line-height: 11vw;
    margin-bottom: 6px;
    text-align: center;
  }
  .hsContent h4  {

    color: #fff8de;
    background-color: rgba(0,0,0,0.5);
    font-size: 7vw;
    line-height: 11vw;
    margin-bottom: 6px;
    text-align: center;

  }
  .hsContent p {
   color: #fff8de;
   background-color: rgba(0,0,0,0.5);
   margin-bottom: 12px;
   text-align: center;
   
   padding: 10px 5px;
    font-size: 2vw;
    line-height: 4vw;
   

 }
 .hsContent a {
  color: #b2b2b2;
  text-decoration: underline;
}

/* Slide 1 */
#slide-1 .bcg {background-image:url('../assets/Snowy.jpg')}
#slide-1 .hsContent {
  bottom: 100px;
  top: auto;
}

/* Slide 2 */
#slide-2 .bcg {background-image:url('../assets/WaterfallForest.jpg')}
#slide-2 .hsContent {
  bottom: 100px;
  top: auto;
}



/* Slide 3 */
#slide-3 .bcg {
  background-image:url('../assets/sunrise.jpg')
}
#slide-3 .hsContent {

  bottom: 100px;
  top: auto;

}
#slide-3 h2 {
  color: #f2ead6;
  background-color: rgba(0,0,0,0.6);
}


.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
  cursor: pointer;
  position:relative;
  color: #fff8de;
  background-color: rgba(0,0,0,0.75);
  padding: 1.0rem;
  border: 2vw;
  width: 20vw;
  margin: 1rem;
  margin-left: 1.5rem;

}