.div-main {
  text-align: center;
  clear: both;
  float:left;
  margin-right:15px;
}
#bg { /*https://css-tricks.com/perfect-full-page-background-image*/
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;  
}
body{
  text-align: center;
}
input {
  background-color: #85b9e9;
}


