.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  
#signup-form {
  background-color: #BFE8F5;
  min-width: 210px;
  max-width: 430px;
  padding: 5%;
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  margin-left: auto;
  margin-right: auto;
}
  
h1 {
  margin-bottom: 1ch;
  text-align: center;
}
  
.div-signup {
  margin-bottom: 2ch;
}
  
.signup-input-title {
  margin-bottom: 0ch;
}