

.middle {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
}
.whole {
    background-color: black;
}
#mockup{
    width: 50%;
    height: auto;
    position: absolute;
    bottom: 0px;
}