

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */



section {
	min-width: 960px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}

#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.hsContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 1000px;
	position: absolute;
	left: 50%;
	top: 50%;
}
	.hsContent h2  {
		color: #fff8de;
		background-color: rgba(0,0,0,0.5);
		padding: 10px 5px;
		font-size: 100px;
		line-height: 104px;
		margin-bottom: 12px;
        text-align: center;
        
	}
    .hsContent h3  {
        color: #fff8de;
        background-color: rgba(0,0,0,0.5);
        padding: 10px 5px;
        font-size: 80px;
        line-height: 104px;
        margin-bottom: 12px;
        text-align: center;
    }
     .hsContent h4  {
        color: #fff8de;
        background-color: rgba(0,0,0,0.5);
        padding: 10px 5px;
        font-size: 80px;
        line-height: 84px;
        margin-bottom: 12px;
        text-align: center;
    }
	.hsContent p {
		width: 300px;

        color: #fff8de;
        background-color: rgba(0,0,0,0.5);
        padding: 10px 5px;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 12px;
        text-align: center;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}

/* Slide 1 */
#slide-1 .bcg {background-image:url('../img/Snowy.jpg')}
#slide-1 .hsContent {
	bottom: 200px;
	top: auto;
}

/* Slide 2 */
#slide-2 .bcg {background-image:url('../img/WaterfallForest.jpg')}
#slide-2 .hsContent {
	margin-left: -450px;
	bottom: 200px;
	top: auto;
}

/* Slide 3 */
#slide-3 .bcg {
    background-image:url('../img/sunrise.jpg')
}
#slide-3 .hsContent {
	margin-left: -500px;
    bottom: 200px;
    top: auto;

}
#slide-3 h2 {
	color: #f2ead6;
	background-color: rgba(0,0,0,0.6);
}


.button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    cursor: pointer;
    position:relative;
    color: #fff8de;
    background-color: rgba(0,0,0,0.75);
    padding: 1.0rem;
    border: 2px ;
    width: 45%;
    margin: 1rem;
    margin-left: 1.5rem;
}

