<!--
  References:
    
//-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head %>

    <!-- Stuff we actually wrote -->
    <title>Where'd It Go?!</title>
    <link rel="stylesheet" href="../css/about.css">
  </head>

  <body id="body-about">
    <!-- Bootstrap navbar -->
    <%- include partials/navbar %>

    <div id="hdrs">
      <h1 align="center" style="font-family:georgia"><strong>About</strong></h1>
    </div>
    <p></p>
    <p></p>
    <div class="container center-block">
      <h2 align="center"style="font-family:georgia"><strong>We will help you get where you <em> want </em> to be</strong></h2>
      <p></p>
      
      <h3 align="center"style="font-family:georgia;"><i><strong>With our budgeting application, we can help you save so you can adventure on!<strong></strong></i></h3>
      <p> </p>
      <img src="https://opalflame.files.wordpress.com/2015/11/budget-is-telling-quote_thumb1.jpg">
    </div>
  </body>
</html>