<!--
  References:
    - Bootstrap
      http://getbootstrap.com/docs/4.0/getting-started/introduction/
      https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-get-started.php
    - Login formatting
      https://forums.adobe.com/thread/2444344
      https://www.kirupa.com/html5/naming_via_class_id_name.htm

  Notes:
    - Input tags need "name" attribute to get sent to request body
    - Don't need to link login.js; form submittion handled in server.js
//-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Stuff we actually wrote -->
    <title>Where'd It Go?! | Login</title>
    <link rel="stylesheet" href="login.css">
    
    <!-- Styling -->
    <style>
      .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      
      #login-form {
        background-color: #BFE8F5;
        min-width: 210px;
        max-width: 430px;
        padding: 5%;
        position: absolute;
        left: 10%;
        right: 10%;
        margin-left: auto;
        margin-right: auto;
      }
      
      h1 {
        margin-bottom: 1ch;
        text-align: center;
      }
      
      .div-login {
        margin-bottom: 2ch;
      }
      
      .login-input-title {
        margin-bottom: 0ch;
      }
    </style>
  </head>

  <body id="body-login">
    <div class="container center-block">
      <!-- Login form -->
      <form id="login-form" method="POST">
        <h1>Login</h1>

        <!-- Email -->
        <div id="div-input-fields">
          <div class="div-login div-email">
            <label for="email" class="login-input-title">Email: </label>
            <input type="text" name="email" placeholder="Enter email" required>
          </div>

          <!-- Password -->
          <div class="div-login div-password">
            <label for="password" class="login-input-title">Password: </label>
            <input type="password" name="password" placeholder="Enter password" required>
          </div>
        </div>

        <!-- Login button -->
        <div id="div-button-button">
          <button type="submit" id="submit">Login!</button>
        </div>
      </form>
    </div>
  </body>
</html>
