<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Stuff we actually wrote -->
    <title>Where'd It Go?!</title>
    <link rel="stylesheet" href="signup.css">
  </head>

  <body>
    <h1>This can be our main page! Yay!!!</h1>
  </body>
</html>