<!DOCTYPE html>
<html class="no-js"> 
  <head>
    <!-- Default meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SplashPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <script type="text/javascript" src="js/splash.js"></script>
    <link rel="stylesheet" href="helper_files/css/main.css">
    <script src="helper_files/vendor/modernizr-2.7.1.min.js"></script>

    <!-- Styling -->
    <style type="text/css">
      body {
        font-family: 'Open Sans', sans-serif;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width: 100%;
        height: 100%;
        min-width: 1000px;
        min-height: 1000px;
      }
      
      html {
        top:0;
        bottom:0;
        left:0;
        right:0;
      }
    </style>
  </head>

  <body class="loading">
    <div id="preload">
      <img src="assets/Snowy.jpg">
      <img src="assets/WaterfallForest.jpg">
      <img src="assets/sunrise.jpg">
    </div>
    
    <main>
      <section id="slide-1" class="homeSlide">
        <div class="bcg">
          <div class="hsContainer">
          <div class="hsContent">
            <h2>WHERE'D IT GO?!</h2>
            <p>Scroll down to learn more and to login!</p>
          </div>
          </div>
        </div>
      </section>
    
      <section id="slide-2" class="homeSlide">
        <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent">
              <h3>Great stories come from great adventures, and we can help you get there!</h3>
            </div>
            </div>
        </div>
      </section>

      <section id="slide-3" class="homeSlide">
        <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent">
              <h4>Pick one of the following and lets get started!</h4>
              <div>
                <button type="button" class="button" onclick="signup()">Sign Up</button>
                <button type="button" class="button" onclick="login()">Login</button>
              </div>
            </div>
            </div>
        </div>
      </section>
    </main>

    <script>window.jQuery || document.write('<script src="helper_files/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="helper_files/imagesloaded.js"></script>
    <script src="helper_files/_main.js"></script>

  </body>
</html>