<!--
  References:
    - https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    - http://www.youcandealwithit.com/borrowers/calculators-and-resources/calculators/budget-calculator.shtml
    - https://getbootstrap.com/docs/4.0/components/navbar/
    - http://ejs.co
    https://www.solodev.com/blog/web-design/adding-a-scroll-down-anchor-to-your-website.stml
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head %>

    <!-- Stuff we actually wrote -->
    <title>Where'd It Go?!</title>
    <link rel="stylesheet" href="../css/splash2.css">
    <script type="text/javascript" src="../js/splash.js"></script>
  </head>

  <body id="body-splash">
    <div class="container center-block">
      <!-- Form -->
      <form id="splash-form" method="POST">
        <div class="title-ani">
          <h2>WHERE'D</h2>
          <h2>IT GO?!</h2>
          <a class="ct-btn-scroll ct-js-btn-scroll" href="#div-button"><img alt="Arrow Down Icon" src="https://www.solodev.com/assets/anchor/arrow-down.png"></a>
          <h3>         .          </h3>
          <p>Click Sign Up or Login</p>
          <p>and let's get started!</p>
          <h3>           .            </h3>
        </div>
        
        <!-- Buttons -->
        <div id="div-button" class="form-group">
          <button type="button" class="submitbut" class="form-control" onclick="signup()">Sign Up</button>
          <button type="button" class="submitbut" class="form-control" onclick="login()">Login</button>
        </div>

      </form>
    </div>
  </body>
</html>