
<div class="row" id="mainDiv">
	<div class="medium-12 medium-centered column" id="welcomeDiv">
    <!-- <p id="welcome">Welcome to Connec+</p> -->
    <div class="medium-6 column" id="messageDiv">
        <p class="unselectable" id="message">Connect with the world around you</p>
        
    </div>
    <div class="medium-6 column">
    </div>
  </div>

      <p id="firstTitle">How it Works</p>
      <!-- <button class="button" id="downButton">⇩</button> -->
      
      <p id="connectMessage" >Join the fun!</p>
      
    
      
      
</div>